* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0;
  }

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
pointer-events: none;
}

.parallax::before {
content: '';
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background: linear-gradient(to top, white, transparent);
z-index: 10000;
}

/**
 * ----------------------------------------
 * animation text-shadow-pop-right
 * ----------------------------------------
 */
 .text-shadow-pop-right {
	-webkit-animation: text-shadow-pop-right 0.6s both;
	        animation: text-shadow-pop-right 0.6s both;
}

 @-webkit-keyframes text-shadow-pop-right {
  0% {
    text-shadow: 0 0 #243128, 0 0 #243128, 0 0 #243128, 0 0 #243128, 0 0 #243128, 0 0 #243128, 0 0 #243128, 0 0 #243128;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    text-shadow: 1px 0 #243128, 2px 0 #243128, 3px 0 #243128, 4px 0 #243128, 5px 0 #243128, 6px 0 #243128, 7px 0 #243128, 8px 0 #243128;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes text-shadow-pop-right {
  0% {
    text-shadow: 0 0 #243128, 0 0 #243128, 0 0 #243128, 0 0 #243128, 0 0 #243128, 0 0 #243128, 0 0 #243128, 0 0 #243128;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    text-shadow: 1px 0 #243128, 2px 0 #243128, 3px 0 #243128, 4px 0 #243128, 5px 0 #243128, 6px 0 #243128, 7px 0 #243128, 8px 0 #243128;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

.email {
  margin-top: 20px;
}

.sticky {
    width: 100%;
    padding-right: 20px;
    position: fixed;
    top: 0;
}

nav img {
  width: 72px;
  height: 72px;
}

nav a {
  display: flex;
  justify-content: flex-end;
}

#foreground {
  z-index: 2;
}

#text {
  position: relative;
  color: #fff;
  font-size: 7em;
  z-index: 1;
}

.artist {
  font-size: 2rem;
  font-style: italic;
  padding-left: 20px;
}

button {
    background: #243128;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

.social-links img:hover,
button:hover {
    opacity: 70%;
    cursor: pointer;
}

.image-gallery {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
}


img {
    height: auto;
    display: block;
}

.thumbnail {
    position: relative;
    display: inline-block;
}

/* .thumbnail img {
     max-height: 40%; 
} */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: .5s ease;
    color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.text {
    margin: 0 auto;
    font-size: 2em;
}

.lightbox {
    display: none;
    position: fixed;
    top:0;
	  right:0;
	  bottom:0;
	  left:0;
    background-color: black;
    z-index: 10001;
}

.lightbox-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lightbox-image {
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
    color: #999;
    cursor: pointer;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  /* margin-top: -50px; */
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  user-select: none; /*doesn't let user highlight or select text on double click*/
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /* border-radius: 3px 0 0 3px; */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: #999;
  /* background-color: rgba(0, 0, 0, 0.8); */
}

footer {
    background: #bdd8d3;
    background-image: url(./images/foreground-footer.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 3rem;
    color: #243128;
}

.social-links img {
  height: 48px;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.social-links li {
  padding: 5px;
}

form {
    text-align: center;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input::placeholder {
    font-size: 1.5rem;
}

input:required { 
    outline: none;
  }

#thank-you-message {
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {

  #text {
    text-align: center;
    font-size: 4rem;
  }

  footer {
    background-image: none;
  }

  .email {
    display: none;
  }

 .thumbnail img {
    width: 100%;
  }

.lightbox-slide img {
  width: 100%;
  height: auto;
}

}